<%-include('partials/header.ejs' , {title : 'Add New Customer'}) %>
<div class="container d-flex align-items-center justify-content-center flex-column" style="height: 100vh; width: 100vw;">
  <p><h2>Add New Customer</h2></p>
    <form action="/customer/add" method="POST">
      <table>
        <tr>
          <td>
            <label for="name">Name:</label>
          </td>
          <td>
            <input type="text" name="name" id="name">
          </td>
        </tr>
        <tr>
          <td>
            <label for="phone">Phone:</label>
          </td>
          <td>
            <input type="text" name="phone" id="phone">
          </td>
        </tr>
        <tr>
          <td>
            <label for="email">Email:</label>
          </td>
          <td>
            <input type="email" name="email" id="email">
          </td>
        </tr>
        <tr>
          <td>
            <label for="address">Address:</label>
          </td>
          <td>
            <input type="text" name="address" id="address">
          </td>
        </tr>
      </table>
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="/customer" class="btn btn-danger">Cancel</a>
    </form>
  </div>
<%-include('partials/footer.ejs') %>
