<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Employee</title>
</head>
<body>
  <div><h2>Add New Employee</h2></div>
  <div>
    <form action="/employee/add" method="POST">
      <table>
        <tr>
          <td>
            <label for="name">Name:</label>
          </td>
          <td>
            <input type="text" name="name" id="name">
          </td>
        </tr>
        <tr>
          <td>
            <label for="phone">Phone:</label>
          </td>
          <td>
            <input type="text" name="phone" id="phone">
          </td>
        </tr>
        <tr>
          <td>
            <label for="email">Email:</label>
          </td>
          <td>
            <input type="email" name="email" id="email">
          </td>
        </tr>
        <tr>
          <td>
            <label for="address">Address:</label>
          </td>
          <td>
            <input type="text" name="address" id="address">
          </td>
        </tr>
      </table>
      <button type="submit">Save</button>
      <a href="/employee"><button type="button">Cancel</button></a>
    </form>
  </div>
</body>
</html>